body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
     background-image: url('/images/background.png');
    background-size: cover; /* Cover the entire page */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Fixed background image */
    background-position: center;
    margin: 0;
    padding: 0;
    background-color: rgba(150, 150, 200, 0.5);
    background-blend-mode: multiply;
}

.welcome-container {
    text-align: center;
    font-size: 4em;
    color: white;
    opacity: .8;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #526340;
    overflow: hidden;
    height: 50px;
}

nav ul li {
    float: left;
    height: 100%
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
}

nav ul li a.active {
    background-color: #526340;
}

nav ul li a:hover {
    background-color: #64784e;
}

nav ul li img.logo {
    width: 100px;
    vertical-align: middle;
}

.booking-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.booking-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #526340;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4784e;
}