.welcome-container {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 80vh;
    width: 84%;
    padding: 0 8%;
    max-width: 100%;
}

.welcome-container h1 {
    font-size: 5em;
    color: white;
    opacity: .8;
    text-align: center;
    font-family: 'Ericsson';
    font-weight: 100;
    vertical-align: top;
    height: 110px;
}

.welcome-container button {
    display: block;
    padding: 10px 20px;
    background-color: #1174e6; /* Button background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 30px;
}

.welcome-container button a {
    font-family: 'Ericsson';
    color: white;
    font-size: 20px;
    text-decoration: white;
}

.welcome-container button:hover {
    background-color: #1174e6; /* Button background color on hover */
}

.content-container {
    background: white;
    width: 80%;
    height: auto;
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 7% 10vw;
    margin: 0;
    max-width: 100%;
    font-family: 'Ericsson';
}

.content-container h1 {
    font-size: 3em;
}


.carousel {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    transition: opacity 0.5s ease;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2em;
    padding: 0 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}