    body {
    margin: 0;
    padding: 0;
    background-image: url('/images/background.png');
    background-size: cover; /* Cover the entire page */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Fixed background image */
    background-position: center; /* Center the background image */
    margin: 0;
    font-family: 'Roboto';
}

.logo {
    width: 100px; /* Adjust the width as needed */
    height: auto;
}

h1 {
    font-size: 10em;
    color: white;
    opacity: .8;
    width: 100%;
    text-align: center;
}
.book-now {
    display: block;
    font-size: 20px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #526340; /* Button background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    color: white;
    text-decoration: none;
    font-family: 'roboto';
}

.book-now:hover {
    background-color: #64784e; /* Button background color on hover */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #526340;
    overflow: hidden;
    height: 50px;
}

nav ul li {
    float: left;
    height: 100%
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%;
}

nav ul li a.active {
    background-color: #526340;
}

nav ul li a:hover {
    background-color: #64784e;
}

nav ul li img.logo {
    width: 100px;
    vertical-align: middle;
}

