.welcome-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 84vw;
    padding: 0 8vw;
}

.content-container {
    background: white;
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 10vw;
    margin: 0;
}

h1 {
    font-size: 5em;
    color: white;
    opacity: .8;
    text-align: center;
    font-family: 'Ericsson';
    font-weight: 100;
}

.book-now {
    display: block;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #1174e6; /* Button background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ericsson';
}

.book-now:hover {
    background-color: #1174e6; /* Button background color on hover */
}