<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    </head>
    <body class="background-tint">
        <nav>
            <ul id="navigation"></ul>
        </nav>

        <div class="welcome-container">
            <h1>About Us</h1>
        </div>

        <div class="content-container">
            <h1>Our Team</h1>
            <p>
                Epark is a pioneering company that developed an
                innovative booking website for managing the car park outside a prominent
                software engineering company. This company faces a significant challenge with
                only 7 parking spots available for over 100 electric vehicles on campus.
                Epark's advanced system ensures the efficient and fair allocation of these
                limited parking spaces, optimising their use and minimizing congestion and
                frustration among employees. <br><br> The company was founded by a dedicated team of
                eight talented colleagues: Peter, Dylan, Christian, Jack, Aine, Hugh, Keira,
                and Maedbh. Together, they combined their expertise in technology, logistics,
                and user experience to create a seamless and user-friendly platform. Epark's
                mission is to revolutionise the way parking is managed in high-demand areas,
                providing innovative solutions that cater to the needs of modern, eco-conscious communities.
            </p>

            <br><br><br>

            <div class="row">
                <img style="width: 500px; height: 300px;" src="{{url_for('static', filename='images/egolf.jpeg')}}" alt="">
                <div>
                    <h1>Our Idea</h1>
                    <p>
                        Epark's idea is to develop an easier parking system for electric vehicle users at Ericsson,
                        enhancing organization and supporting sustainability and eco-friendly transportation. This
                        advanced booking system is designed to be user-friendly and creates a more convenient parking
                        experience. It encourages the use of eco-friendly electric vehicles which promotes environmental
                        sustainability. Epark's goal is to create an efficient and fair parking environment for electric
                        car users and to support sustainable transportation. By addressing the needs of modern drivers and
                        promoting eco-friendly transportation, Epark is set to enhance convenience and efficiency
                        while contributing to Ericsson's commitment to environmental responsibility.
                         <br><br>Epark's innovative idea includes real-time space availability tracking, a convenient
                        website to easily book a space, an organised parking system and much more. By implementing these
                        features, Epark not only improves daily life for Ericsson employees but also supports sustainability
                        within the workplace. This initiative provides a practical solution that benefits both individuals
                        and the environment.
                    </p>
              </div>
        </div>

        </div>
            <div class="footer">
            <p>&copy; 2024 EPark. All rights reserved.</p>
            <p>
                <a href="/tandc">Terms and Conditions</a>
                <a href="/about">About Us</a>
                <a href="/contact">Contact Us</a>
            </p>
        </div>

        <script type="text/javascript"> let userId = {{userId}} </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/navigation.js') }}"></script>
    </body>
</html>
