<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/css/about.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="background-tint">
<nav>
  <ul>
    <li><a class="active" href="index.html"><img src="/images/ericsson text logo.png" alt="Logo" class="logo"></a></li>
    <li style="float:right"><a class="active" href="signup.html">Sign-up</a></li>
    <li style="float:right"><a class="active" href="login.html">Log-in</a></li>
    <li style="float:right"><a class="active" href="contact.html">contact us</a></li>
  </ul>
</nav>

<div class="welcome-container">
  <h1>About Us</h1>
</div>
 <p class="bg-paragraph">
   <b>About Us</b> <br><br>
   Epark is a pioneering company that developed an
   innovative booking website for managing the car park outside a prominent
   software engineering company. This company faces a significant challenge with
   only 7 parking spots available for over 100 electric vehicles on campus.
   Epark's advanced system ensures the efficient and fair allocation of these
   limited parking spaces, optimising their use and minimizing congestion and
   frustration among employees. <br><br> The company was founded by a dedicated team of
   eight talented colleagues: Peter, Dylan, Christian, Jack, Aine, Hugh, Keira,
   and Maedbh. Together, they combined their expertise in technology, logistics,
   and user experience to create a seamless and user-friendly platform. Epark's
   mission is to revolutionise the way parking is managed in high-demand areas,
   providing innovative solutions that cater
   to the needs of modern, eco-conscious communities.</p>
</div>

</body>
</html>
