<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Page</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/acount.css') }}">
</head>
<body>
 <nav>
     <ul id="navigation"></ul>
 </nav>
    <div class="container">
        <header>
            <h1>Account Page</h1>
        </header>
        <section class="user-info">
            <h2>User Information</h2>
            <div class="info">
                <label for="username">Full name:</label>
                <span id="username">john_doe</span>
            </div>
            <div class="info">
                <label for="email">Email:</label>
                <span id="email">john_doe@example.com</span>
            </div>
                <div class="info">
                <label for="email">Password:</label>
                <button type="submit">Update Password</button>
            </div>
            </form>
</body>
</html>