<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Account Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
    </head>
    <body>
        <nav>
            <ul id="navigation"></ul>
        </nav>

        <div class="content-container">
            <h1>Account Page</h1>
            <div class="user-info">
                <h2>User Information</h2>
                <div class="row">
                    <label for="username">Full name:</label>
                    <p style="margin-left: auto;" id="username">john_doe</p>
                </div>
                <div class="row">
                    <label for="email">Email:</label>
                    <p style="margin-left: auto;" id="email">john_doe@example.com</p>
                </div>
                <div class="row">
                    <label for="email">Password:</label>
                    <button style="margin-left: auto;" type="submit">Update Password</button>
                </div>
            </div>

            <div class="booking-container">
                <h2>Bookings</h2>
                <div class="booking">
                    <label>Booking 1</label>
                </div>
            </div>

            <div class="row">
                <button style="margin-left: auto;" id="delete"><a href="/logout">Delete</a></button>
                <button style="margin-left: 20px;" id="logout"><a href="/logout">Logout</a></button>
            </div>
        </div>

        <script type="text/javascript"> let userId = {{userId}} </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/navigation.js') }}"></script>
    </body>\
</html>