<!DOCTYPE html>
<html>
    <head>
        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/booking.css') }}">
    </head>
    <body class="background-tint">

        <!-- Navigation Bar -->
        <nav>
            <ul id="navigation"></ul>
        </nav>

        <!-- Background Image with Heading at top of each page-->
        <div class="welcome-container">
            <h1>Book Now</h1>
        </div>

        <!-- Section with White Background Below the Heading -->
        <div class="content-container">
            <!-- Error Container: Errors show up here -->
            <div id="errorContainer"></div>
            <!-- Booking Form -->
            <h1>Book Your parking spot</h1>
            <form id="booking-form" onkeydown="return event.key != 'Enter';" action="{{ url_for('submit_booking') }}" method="POST">
                <!-- Date -->
                <div class="form-group">
                    <label for="date">Booking Date</label>
                    <input type="date" id="date" name="date" required>
                </div>
                <!-- Start Time -->
                <div class="form-group">
                    <label for="time">Start Time</label>
                    <input type="time" id="time" name="time" required>
                </div>
                <!-- End Time -->
                <div class="form-group">
                    <label for="endTime">End Time</label>
                    <input type="time" id="endTime" name="endTime" required>
                </div>
                <!-- Park Seat -->
                <div class="container">
                    <h1>Select Your Spot</h1>
                    <!-- Parking Spots -->
                    <div class="seats">
                        <div class="seat" data-seat="1">1</div>
                        <div class="seat" data-seat="2">2</div>
                        <div class="seat" data-seat="3">3</div>
                        <div class="seat" data-seat="4">4</div>
                        <div class="seat" data-seat="5">5</div>
                        <div class="seat" data-seat="6">6</div>
                        <div class="seat" data-seat="7">7</div>
                    </div>
                    <input type="hidden" id="parkSpot" name="parkSpot" value="0">
                </div>
                <!-- Submit Button -->
                <button type="submit">Book Now</button>
            </form>
        </div>

        <!-- Footer -->
        <div class="footer">
            <p>&copy; 2024 EPark. All rights reserved.</p>
            <p>
                <a href="/tandc">Terms and Conditions</a>
                <a href="/about">About Us</a>
                <a href="/contact">Contact Us</a>
            </p>
        </div>

        <!-- Javascript -->
        <script type="text/javascript">
            let userId = {{ userId|tojson }};
            const requestUrl = {{ url_for('jsGet')|tojson }};
            let error = {{ error|tojson }};
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/navigation.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/booking.js') }}"></script>
    </body>
</html>