<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    </head>
<body class="background-tint">
<nav>
  <ul>
      <li><a class="active" href="/"><img src="{{ url_for('static', filename='images/ericsson text logo.png')}}" alt="Logo" class="logo"></a></li>
      <li style="float:right"><a class="active" href="/signup">Sign-up</a></li>
      <li style="float:right"><a class="active" href="/login">Log-in</a></li>
      <li style="float:right"><a class="active" href="/about">About</a></li>
      <li style="float:right"><a class="active" href="/contact">Contact</a></li>
      <li style="float:right"><a class="active" href="/booking">Book Now</a></li>
  </ul>
</nav>

  <div class="welcome-container">
      <h1>Contact Us</h1>
  </div>
  <div class="content-container">
      <div class="row">
      <span>
      <h1>Our Team</h1>
      <p>It may take around seven business days before we get back to you. If you don't want to wait that long, head to our about page section.
          Maybe there's the answer you are looking for. Whatever information you're looking for, you'll find it here.<br><br>
          Have a question or suggestion? Send us an e-mail at: christian.obrien@ericsson.com and we'll get back to you
          as soon as possible.</p></span>
          <img src=../images/blueCarBG1.jpg" alt="">
      </div>
      <br><br><br/>
      <div class="row">
          <div class="what ever you want">
          </div>
      </div>
      <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>

        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>
