<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/contact.css">
    </style>
</head>
 <link rel="stylesheet" href="../static/css/login.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
 <nav>
        <ul>
        <li><a class="active" href="#Home"><img src="/images/ericsson text logo.png" alt="Logo" class="logo"></a></li>
        <li style="float:right"><a class="active" href="#Sign-up">Sign-up</a></li>
        <li style="float:right"><a class="active" href="#Log-in">Log-in</a></li>
        </ul>
    </nav>
    <h1>Contact Us</h1>
    <p> It may take around seven business days before we get back to you. If you don't want to wait that long, head to our Terms and Conditions section. Maybe there's the answer you are looking for.
       Terms and conditions Whatever information you're looking for, you'll find it here.
       Have a question or suggestion? Send us an e-mail at: christian.obrien@ericsson.com
        and we'll get back to you as soon as possible. </p>
    </div>
    <form action="/submit_form" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="message">Message:</label>
        <input id="message" name="message" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>