<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" href="../static/css/navigation.css">
    </head>
    <body class="background-tint">
        <nav>
            <ul>
                <li><a class="active" href="index.html"><img src="/images/ericsson text logo.png" alt="Logo" class="logo"></a></li>
                <li style="float:right"><a class="active" href="signup.html">Sign-up</a></li>
                <li style="float:right"><a class="active" href="login.html">Log-in</a></li>
                <li style="float:right"><a class="active" href="about.html">About</a></li>
                <li style="float:right"><a class="active" href="contact.html">Contact</a></li>
                <li style="float:right"><a class="active" href="booking.html">Book Now</a></li>
            </ul>
        </nav>
        <div class="welcome-container">
            <h1>Welcome</h1>
            <button><a href="booking.html">Book Now</a></button>
        </div>
        <div class="content-container">

           <p>Welcome to Ericsson's state-of-the-art electric car parking facility! Designed to support our commitment to sustainability, our parking area is equipped with modern charging stations, ample parking spaces, and convenient access for electric vehicles. Whether you're an employee or a visitor, we ensure your electric car is charged and ready to go, contributing to a greener future.</p>
        </div>
<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="/images/img5.jpg" style="width:100%">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="/images/img6.jpg" style="width:100%">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="/images/img7.jpg" style="width:100%">
  <div class="text"></div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>

<script>
    let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>
    </body>
</html>
