<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="../static/css/style.css">
      <link rel="stylesheet" href="../static/css/navigation.css">
    </head>
    <body class="background-tint">
        <nav>
            <ul>
                <li><a class="active" href="index.html"><img src="/images/ericsson text logo.png" alt="Logo" class="logo"></a></li>
                <li style="float:right"><a class="active" href="signup.html">Sign-up</a></li>
                <li style="float:right"><a class="active" href="login.html">Log-in</a></li>
                <li style="float:right"><a class="active" href="about.html">About</a></li>
                <li style="float:right"><a class="active" href="contact.html">Contact</a></li>
                <li style="float:right"><a class="active" href="booking.html">Book Now</a></li>
            </ul>
        </nav>
        <div class="welcome-container">
            <h1>Welcome</h1>
            <button><a href="booking.html">Book Now</a></button>
        </div>
        <div class="content-container">
            <h1>Example Heading</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius sit amet elit at pulvinar. Fusce iaculis pulvinar enim vel hendrerit. Duis aliquet orci tortor, vitae tristique risus sagittis id. Integer rhoncus metus ac neque pellentesque, sed blandit neque viverra. Quisque lobortis urna lacus, et faucibus eros blandit sed. Aliquam ut molestie ex, et commodo tellus. Pellentesque imperdiet risus et venenatis ultricies. Morbi fringilla, purus eget vulputate luctus, dolor magna viverra arcu, nec porta dolor metus eget diam. Quisque nec urna lorem. In mattis elit ullamcorper, fermentum magna malesuada, suscipit ante. Maecenas at viverra justo. Cras suscipit leo eget urna lobortis imperdiet.</p>
        </div>
    </body>
</html>
