<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/login.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="background-tint">
    <nav>
       <ul>
        <li><a class="active" href="index.html"><img src="/images/ericsson text logo.png" alt="Logo" class="logo"></a></li>
        <li style="float:right"><a class="active" href="signup.html">Sign-up</a></li>
        <li style="float:right"><a class="active" href="login.html">Log-in</a></li>
      </ul>
    </nav>

    <div class="welcome-container">
      <h1>Log In</h1>
    </div>

    <div class="log-in-container">
      <h2>Log In</h2>
      <form id="booking-form" action="/submit-booking" method="POST">
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" id="email" name="email" required>
        </div>
           <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
        <button type="submit">Log In</button>
      </form>
    </div>
</body>
</html>